@charset "UTF-8";
/*! normalize.css 2011-08-31T22:02 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, F3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7
 */
button,
input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */
}

/*
 * Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing
 */
table button,
table input {
  *overflow: auto;
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Addresses excess padding in IE8/9
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  * html {
    font-size: 100%;
  }

  html {
    font-size: 16px;
    line-height: 1.75em;
  }

  html {
    background: url('../i/ricepaper2.png?1339701544');
  }

  body {
    font-family: "Libre Baskerville", serif;
    color: #4b4b4b;
    *zoom: 1;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  body:after {
    content: "";
    display: table;
    clear: both;
  }

  a {
    color: #327dc8;
    color: #327dc8;
    -webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
  }
  a:visited {
    color: #5896d5;
  }
  a:focus {
    color: #32c8c8;
  }
  a:hover {
    color: #32c8c8;
  }
  a:active {
    color: #327dc8;
  }
  a:before {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  a img {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
  }

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 2em;
    line-height: 1.75em;
    line-height: 1.75em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.16667em;
    margin-top: 2.33333em;
    text-align: center;
  }
  h2:before, h2:after {
    content: " ";
    color: #ddd;
    display: block;
    border-top: 1px solid #ddd;
    width: 1em;
    margin: 1.75em auto;
  }
  h1 + h2, h1 ~ * h2:first-child {
    margin-top: 1.16667em;
  }

  h3 {
    font-size: 1.25em;
    line-height: 1.4em;
    color: rgba(75, 75, 75, 0.75);
    font-weight: normal;
    margin-top: 2.8em;
    text-align: center;
  }
  h2 + h3 {
    margin-top: 1.4em;
  }

  h4 {
    font-size: 1em;
    line-height: 1.75em;
    margin-top: 3.5em;
  }
  h3 + h4 {
    margin-top: 1.75em;
  }

  h5 {
    font-size: 1em;
    line-height: 1.75em;
    color: rgba(75, 75, 75, 0.75);
    margin-top: 3.5em;
  }
  h4 + h5 {
    margin-top: 1.75em;
  }

  h6 {
    font-size: 1em;
    line-height: 1.75em;
    font-style: italic;
    color: rgba(75, 75, 75, 0.75);
    margin-top: 3.5em;
  }
  h5 + h6 {
    margin-top: 1.75em;
  }

  h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0;
  }

  p {
    margin: 1.75em 0;
  }

  blockquote {
    margin: 0;
    font-size: 1.25em;
    line-height: 1.4em;
    border-left: 0.35em solid rgba(75, 75, 75, 0.1);
    padding-left: 1.4em;
    font-style: italic;
  }
  figure blockquote {
    text-align: left;
  }
  blockquote + figcaption {
    margin-left: 2.5em;
    text-align: left;
  }
  blockquote :last-child {
    margin-bottom: 0;
  }

  figure {
    margin: 3.5em 0;
    text-align: center;
  }
  figure img {
    border: 1px solid rgba(75, 75, 75, 0.1);
    padding: 0.4375em;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  figcaption {
    font-size: 0.875em;
    line-height: 2em;
    margin-top: 2em;
    line-height: 2em;
    color: rgba(75, 75, 75, 0.75);
  }

  dl {
    margin: 1.75em 0;
  }
  dl dt {
    font-weight: bold;
  }
  dl dd {
    margin: 0 0 1.75em 1.75em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul, ol {
    padding: 0;
    margin: 1.75em 0 1.75em 1.75em;
  }
  nav ul, nav ol {
    margin-left: 0;
  }
  ul ul, ol ul {
    list-style: circle;
  }
  ul ol, ol ol {
    list-style: upper-alpha;
  }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0 0 0 1.75em;
  }
  ul ul ul, ul ol ul, ol ul ul, ol ol ul {
    list-style: square;
  }
  ul ul ol, ul ol ol, ol ul ol, ol ol ol {
    list-style: lower-alpha;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th,
  td {
    padding: 1.75em 0.875em 0;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.6875em;
    border-color: rgba(75, 75, 75, 0.2);
  }

  th {
    border-bottom-style: solid;
    border-bottom-width: 0.1875em;
    padding-bottom: 1.5625em;
    text-align: left;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  code {
    font-family: monospace;
    color: #c87d32;
  }

  del {
    color: rgba(75, 75, 75, 0.5);
  }

  ins {
    text-decoration: none;
    background: #c87d32;
  }

  address {
    font-style: normal;
    margin: 1.75em 0;
  }

  br {
    margin: 0;
    line-height: 0;
  }

  hr {
    border: none;
    text-align: center;
  }
  hr:before {
    display: block;
    content: " · · · · · ";
    color: rgba(75, 75, 75, 0.5);
  }

  .kicker {
    margin: 0;
    font-size: 0.875em;
    line-height: 2em;
    line-height: 2em;
    font-style: italic;
    color: rgba(75, 75, 75, 0.75);
  }
  .kicker + * {
    margin-top: 0 !important;
  }

  header {
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 50, color-stop(0%, transparent), color-stop(50%, rgba(0, 0, 0, 0.55))), url('../i/tanner-engraving.jpg?1382034527');
    background: -webkit-radial-gradient(transparent, rgba(0, 0, 0, 0.55) 50%), url('../i/tanner-engraving.jpg?1382034527');
    background: -moz-radial-gradient(transparent, rgba(0, 0, 0, 0.55) 50%), url('../i/tanner-engraving.jpg?1382034527');
    background: -o-radial-gradient(transparent, rgba(0, 0, 0, 0.55) 50%), url('../i/tanner-engraving.jpg?1382034527');
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.55) 50%), url('../i/tanner-engraving.jpg?1382034527');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 3.5em 0 3.5em;
    margin-left: -1em;
    padding-left: 1em;
    margin-right: -1em;
    padding-right: 1em;
    text-align: center;
    border-top: 20px solid rgba(0, 0, 0, 0.9);
  }
  header #rotunda {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 0.875em;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    padding: 12px;
  }
  header #rotunda img {
    margin-top: -1px;
  }
  header h1 {
    font-size: 1.125em;
    line-height: 1.55556em;
    margin-top: 3.11111em;
    font-style: italic;
  }
  header h1 strong {
    font-weight: normal;
    display: block;
    font-size: 1.875em;
    line-height: 1.86667em;
    font-style: normal;
  }
  header h1 a {
    color: white;
  }
  header h1 a:visited {
    color: white;
  }
  header h1 a:focus {
    color: white;
  }
  header h1 a:hover {
    color: white;
  }
  header h1 a:active {
    color: white;
  }

  div[role="main"] {
    margin-left: -1em;
    padding-left: 1em;
    margin-right: -1em;
    padding-right: 1em;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, transparent));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    background: -o-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-background-size: 100% 100px;
    -moz-background-size: 100% 100px;
    -o-background-size: 100% 100px;
    background-size: 100% 100px;
    background-repeat: repeat-x;
  }
  .commission-members {
    list-style: none;
    margin-left: 0;
    text-align: justify;
  }
  .commission-members:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .commission-members li {
    font-size: 0.75em;
    line-height: 2.33333em;
    line-height: 1.75em;
    display: inline-block;
    width: 48%;
    margin-bottom: 2.33333em;
    text-align: left;
    vertical-align: top;
    color: #999;
    font-style: italic;
  }
  .commission-members .name {
    display: block;
    font-size: 1.25em;
    line-height: 1.4em;
    line-height: 1.4em;
    color: #4b4b4b;
    font-style: normal;
  }

  footer[role=contentinfo] {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: -1em;
    padding-left: 1em;
    margin-right: -1em;
    padding-right: 1em;
    text-align: center;
  }
  footer[role=contentinfo] p {
    font-size: 0.875em;
    line-height: 2em;
    font-style: italic;
    color: #999;
  }
}
@media screen and (min-width: 546px) {
  header h1 {
    font-size: 1.5em;
    line-height: 1.16667em;
    margin-top: 3.5em;
  }
}
@media screen and (min-width: 546px) {
  div[role="main"] {
    padding-top: 3.5em;
  }
  div[role="main"] p:first-child:first-letter {
    float: left;
    display: block;
    font-size: 6.25em;
    line-height: 1.12em;
    color: #999;
    font-family: "Meddon", cursive;
    margin-right: 0.28em;
  }
}

@media screen and (min-width: 546px) {
  .commission-members li {
    width: 30%;
  }
}
@media screen and (min-width: 546px) {
  div[role=main],
  footer[role=contentinfo] {
    padding-left: 12.82051%;
    padding-right: 12.82051%;
  }
}
@media screen and (min-width: 1106px) {
  div[role=main],
  footer[role=contentinfo] {
    padding-left: 25.31646%;
    padding-right: 25.31646%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: .5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h1, h2, h3 {
    page-break-after: avoid;
  }

  nav {
    display: none;
  }
}
