/*
Syntax error: Undefined mixin 'box-sizing'.
        on line 2 of /Users/jeremy/Projects/slavery/_sass/media/_screen.scss, in `box-sizing'
        from line 2 of /Users/jeremy/Projects/slavery/_sass/media/_screen.scss
        from line 4 of /Users/jeremy/Projects/slavery/_sass/style.scss

1: /Users/jeremy/Projects/slavery/_sass/style.scss

Backtrace:
/Users/jeremy/Projects/slavery/_sass/media/_screen.scss:2:in `box-sizing'
/Users/jeremy/Projects/slavery/_sass/media/_screen.scss:2
/Users/jeremy/Projects/slavery/_sass/style.scss:4
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:227:in `map'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:362:in `visit_media'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/engine.rb:315:in `_render'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/sass-3.2.12/lib/sass/../sass/engine.rb:262:in `render'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:5:in `to_proc'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/bin/compass:30
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/gems/compass-0.12.2/bin/compass:44
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/bin/compass:23:in `load'
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/bin/compass:23
/Users/jeremy/.rvm/gems/ruby-1.8.7-head@slavery-uva/bin/ruby_executable_hooks:15
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-sizing'.\A         on line 2 of /Users/jeremy/Projects/slavery/_sass/media/_screen.scss, in `box-sizing'\A         from line 2 of /Users/jeremy/Projects/slavery/_sass/media/_screen.scss\A         from line 4 of /Users/jeremy/Projects/slavery/_sass/style.scss\A \A 1: /Users/jeremy/Projects/slavery/_sass/style.scss"; }
