* {
  @include box-sizing(border-box);
  margin:0;
  padding:0;
}

@include establish-baseline;

html {
    @include background(
        image-url('ricepaper2.png')
    );
}

body {
  font-family: $default-font;
  color: $default-color;
  @include container;
}

a {
  color: $link-color;
  @include link-colors($link-color, $link-hover-color, $link-active-color,
  $link-visited-color, $link-focus-color);

  @include transition(color $default-transition-duration, background-color $default-transition-duration);

  &:before {
    @include single-transition(color);
  }

  img {
    @include single-transition(opacity);
  }
}

#{headings()} {
  a {
    text-decoration:none;
  }
}

h1,h2 {
  font-weight:normal;
}

h1 {
  @include adjust-font-size-to(32px);
  @include adjust-leading-to(2,32px);
}

h2 {
  @include adjust-font-size-to(24px);
  @include leader(2, 24px);
  text-align:center;

  &:before,
  &:after {
    content: " ";
    color: #ddd;
    display:block;
    border-top:1px solid #ddd;
    width: 1em;
    margin: rhythm(1) auto;
  }

  h1 + &,
  h1 ~ * &:first-child {
    @include leader(1, 24px);
  }

}

h3 {
  @include adjust-font-size-to(20px);
  color: $default-color-light;
  font-weight:normal;
  @include leader(2, 20px);
  text-align:center;

  h2 + & {
    @include leader(1, 20px);
  }
}

h4 {
  @include adjust-font-size-to($base-font-size);
  @include leader(2);
  h3 + & {
    @include leader(1);
  }
}

h5 {
  @include adjust-font-size-to($base-font-size);
  color: $default-color-light;
  @include leader(2);
  h4 + & {
    @include leader(1);
  }

}

h6 {
  @include adjust-font-size-to($base-font-size);
  font-style:italic;
  color: $default-color-light;
  @include leader(2);
  h5 + & {
    @include leader(1);
  }
}

#{headings(3,6)} {
   + p {
    margin-top:0;
  }
}

p {
  margin: rhythm(1) 0;
}

blockquote {
  margin:0;
  @include adjust-font-size-to(20px);
  border-left: rhythm(0.25, 20px) solid $default-color-lightest;
  padding-left: rhythm(1, 20px);
  font-style:italic;

  figure & {
    text-align:left;
  }

  & + figcaption {
    margin-left: rhythm(1.25, 14px);
    text-align:left;
  }

  & :last-child {
    margin-bottom:0;
  }
}

figure {
  margin: rhythm(2) 0;
  text-align:center;

  img {
    border: 1px solid $default-color-lightest;
    padding: rhythm(0.25);
    background: #fff;
    @include box-shadow(0 0 5px rgba(black, 0.1));
  }
}

figcaption {
  @include adjust-font-size-to(14px);
  @include leader(1, 14px);
  @include adjust-leading-to(1, 14px);
  color: $default-color-light;
}

dl {
  margin: rhythm(1) 0;

  dt {
    font-weight:bold;
  }
  dd {
    margin: 0 0 rhythm(1) rhythm(1);
  }
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

ul,ol {
  padding:0;
  margin: rhythm(1) 0 rhythm(1) rhythm(1);

  nav & {
    margin-left:0;
  }

  ul {
    list-style: circle;
  }

  ol {
    list-style: upper-alpha;
  }

  ul, ol {
    margin: 0 0 0 rhythm(1);

    ul {
      list-style:square;
    }

    ol {
      list-style:lower-alpha;
    }
  }
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

th,
td {
  padding: rhythm(1) rhythm(0.5) 0;
  @include trailing-border(1px);
  border-color: rgba($default-color,.2);
}

th {
  @include trailing-border(3px);
  text-align:left;
}

img {
  max-width:100%;
  width:auto;
  height:auto;
}

code {
  font-family: monospace;
  color: $code-color;
}

del {
  color: $default-color-lighter;
}

ins {
  text-decoration:none;
  background: $ins-color;
}

address {
  font-style:normal;
  margin: rhythm(1) 0;
}

br {
  margin:0;
  line-height:0;
}

hr {
  border:none;
  text-align:center;
  &:before {
    display:block;
    content: " · · · · · ";
    color: rgba($default-color-light, 0.5);
  }
}

.kicker {
  margin:0;
  @include adjust-font-size-to(14px);
  @include adjust-leading-to(1, 14px);
  font-style:italic;
  color: $default-color-light;

  & + * {
    margin-top:0 !important;
  }
}

header {
    @include background(
        radial-gradient(transparent, rgba(black, 0.55) 50%),
        image-url('tanner-engraving.jpg')
    );
    background-repeat:no-repeat;
    @include background-size('cover');
    padding: rhythm(2) 0 rhythm(2);
    @include bleed();
    text-align:center;
    border-top:20px solid rgba(black, 0.9);

    #rotunda {
        width: 50px;
        height: 50px;
        display:block;
        margin: 0 auto rhythm(0.5);
        background: rgba(black, 0.5);
        @include border-radius(25px);
        padding: 12px;
        img {
            margin-top: -1px;
        }
    }

    h1 {
        @include adjust-font-size-to(18px);
        @include leader(2, 18px);

        @include at-breakpoint(8) {
            @include adjust-font-size-to(24px);
            @include leader(3, 24px);
        }

        font-style:italic;
        strong {
            font-weight:normal;
            display:block;
            @include adjust-font-size-to(30px);
            font-style:normal;
        }

        a {
            @include link-colors(white, white, white,white,white);
        }
    }
}

div[role="main"] {
    @include bleed();
    @include background(
        linear-gradient(rgba(black, 0.2), transparent)
        );
    border-top: 1px solid rgba(white, 0.25);
    @include background-size('100% 100px');
    background-repeat: repeat-x;

    @include at-breakpoint(8) {
        @include padding-leader(2);

        p:first-child {
            &:first-letter {
                float:left;
                display:block;
                @include adjust-font-size-to(100px);
                color: #999;
                font-family: "Meddon", cursive;
                margin-right: rhythm(1, 100px);
            }
        }
    }
}

.commission-members {
    list-style:none;
    margin-left:0;
    text-align:justify;

    &:after {
        content: "";
        display:inline-block;
        width: 100%;
    }
    li {
        @include adjust-font-size-to(12px);
        @include adjust-leading-to(0.75,12px);
        display:inline-block;
        width: 48%;
        @include trailer(1, 12px);
        text-align:left;
        vertical-align:top;
        color: #999;
        font-style:italic;

        @include at-breakpoint(8) {
            width: 30%;
        }
    }

    .name {
        display:block;
        @include adjust-font-size-to(20px);
        @include adjust-leading-to(1,20px);
        color: $default-color;
        font-style:normal;
    }
}

footer[role=contentinfo] {
    border-top: 1px solid rgba(black,0.1);
    @include bleed();
    text-align:center;
    p {
        @include adjust-font-size-to(14px);
        font-style:italic;
        color: #999;
    }
}

@include at-breakpoint(8) {

    div[role=main],
    footer[role=contentinfo] {
        @include pad(1,1);
    }
}

@include at-breakpoint(16) {

    div[role=main],
    footer[role=contentinfo] {
        @include pad(4,4);
    }
}

