<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }} | {% endif %}Commission on Slavery and the University | University of Virginia</title>
        <link href='http://fonts.googleapis.com/css?family=Meddon|Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/c/style.css">
        <script src="/j/modernizr.min.js"></script>
        <script src="/j/respond.min.js"></script>
        <link type="text/plain" rel="author" href="humans.txt" />
    </head>
    <body>
        <header role="banner">
            <a id="uva-link" href="/">
                <span id="rotunda"><img src="/i/rotunda-white.png" alt="Rotunda
                    icon"></span>
                <img id="uva-logotype" src="/i/uva-logotype-white.png"
                alt="University of Virginia logo">
            </a>
            <h1><a href="/">President's Commission on <strong>Slavery and the
            University</strong></a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/commission.html">Commission</a></li>
                    <li><a href="/news.html">News</a></li>
                </ul>
            </nav>
        </header>
        <div role="main">
        {{ content }}
        </div>
        <footer role="contentinfo">
            <p id="copyright">Copyright &copy; 2013 Rector and Visitors of the
            University of Virginia.<br>Designed and maintained by the <a
                href="http://scholarslab.org">Scholars’ Lab</a> at the <a
                href="http://library.virginia.edu">University
                of Virginia Library</a></p>
            <a href="http://virgina.edu" id="uva-logo-link"><img
            src="/i/uva-logotype-black.png" alt="University of Virginia logo"></a>
            <a href="http://scholarslab.org" id="slab-logo-link"><img
                src="http://static.scholarslab.org/images/logos/slab/slab-logo-black-125px.png"
                alt="Scholars’ Lab logo"></a>
        </footer>
    </body>
</html>
